.client {
  padding-bottom: 100px;
  &__subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #3858d6;
    margin-bottom: 5px;
  }

  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 55px;
  }

  &__cards {
    display: flex;
    gap: 47px;
  }

  &__card {
    padding: 30px;
    background-color: #f6f6f6;
    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 47px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      width: 140px;
    }
  }
}
@media (max-width: 1000px) {
  .client__cards {
    flex-wrap: wrap;
  }
}

@media (max-width: 500px) {
  .client__card {
    flex-wrap: wrap;
  }
}
